<div class="col-lg-12 user_nav">
    <p class="username">{{last_name}} {{first_name}}</p>
    <nav>
        <ul>
            <li><a href="/users/{{user_id}}">Profile Details</a></li>
            <li><a href="/users/{{user_id}}/courses">Courses</a></li>
            <li><a href="/users/{{user_id}}/permissions">Permissions</a></li>
        </ul>
    </nav>
</div>