{{> navigation }}

<div class="container page">
    <div class="title-breadcrums">
        <h1>Courses</h1>
        <p>Dashboard / Courses</p>
    </div>

    <div class="container dashboard-wrapper header">
        <div class="row">
            <div class="col-md-12">
                <form action="#" class="search-form">
                    <input name="name" placeholder="Search" />
                </form>
                <a
                    class="dashboard-button left"
                    href="/add-staff"
                    data-toggle="modal"
                    data-target="#exampleModal"
                    >Add Course</a
                >
            </div>
            <div class="col-md-12">
                <div class="dashboard content">
                    <table
                        id="users-table"
                        class="users-table table table-bordered"
                        style="width: 100%"
                    >
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date Added</th>
                                <th># Staff Allocated</th>
                                <th>Programme Code</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each courses}}
                                {{#dataValues}}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{created_at}}</td>
                                        <td>0</td>
                                        <td>{{programme_code}}</td>
                                        <td class="icons">
                                            <span class="icon"
                                                ><i class="fas fa-pencil-alt"></i></span
                                            ><span class="icon"
                                                ><i class="fas fa-trash-alt"></i
                                            ></span>
                                        </td>
                                    </tr>
                                {{/dataValues}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Course</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" class="dialog-form" id="modal-form">
                    <p>Course Name</p>
                    <input name="name" />
                    <br />
                    <p>Course Code</p>
                    <input name="programme_code" />
                </form>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                >
                    Close
                </button>
                <button class="btn btn-primary" type="submit" form="modal-form">
                    Create Form
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#users-table").DataTable();
    });
</script>
