{{> navigation }}

<div class="container page">
    <div class="title-breadcrums">
        <h1>Create user</h1>
        <p>Dashboard / Users / Add User</p>
    </div>

    <div class="container dashboard-wrapper header">
        <div class="row">
            <div class="col-md-12">
                <div class="dashboard content add-user-form">
                    <p style="margin-bottom: 20px; font-weight: bold;">User's Profile Details:</p>
                    <form class="create-user" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="input-container">
                                            <p>First Name</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-container">
                                            <input name="first_name" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="input-container">
                                            <p>Last Name</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-container">
                                            <input name="last_name" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="input-container">
                                            <p>Contact Phone</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-container">
                                            <input name="phone" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="input-container">
                                            <p>Email Address</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-container">
                                            <input name="email" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="input-container">
                                            <p>Role</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-container">
                                            <select name="role">
                                                <option selected>HoD</option>
                                                <option>Staff</option>
                                                <option>DVC</option>
                                                <option>Dean</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" style="float:left" class="dashboard-button">Create Account</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#users-table").DataTable();
    });
</script>
