{{> navigation }}

<div class="container page">
    <div class="title-breadcrums">
        <h1>Users</h1>
        <p>Dashboard</p>
    </div>

    <div class="container dashboard-wrapper header">
        <div class="row">
            <div class="col-md-12">
                <form action="#" class="search-form">
                    <input name="name" placeholder="Search" />
                </form>
                <a class="dashboard-button left" href="/users/add">Add User</a>
            </div>
            <div class="col-md-12">
                <div class="dashboard content">
                    <table id="users-table" class="users-table table table-bordered" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Date Added</th>
                                <th>Role</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each users}}
                                {{#dataValues}}
                                    <tr>
                                        <td>{{last_name}} {{first_name}}</td>
                                        <td>{{email}}</td>
                                        <td>{{created_at}}</td>
                                        <td>{{role}}</td>
                                        <td class="icons"><a href="/users/{{id}}" class="icon"><i class="far fa-eye"></i> View</a><span class="icon"><i class="fas fa-trash-alt"></i></span></td>
                                    </tr>
                                {{/dataValues}}
                            {{/each}}
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#users-table").DataTable();
    });
</script>
