<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>{{page_title}}</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/dataTables.bootstrap4.min.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body {{body_class}}>
        {{{body}}}
    </body>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/dataTables.bootstrap4.min.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>

</html>


<!-- jQuery library -->