{{> navigation }}

<div class="container page">
    <div class="title-breadcrums">
        <h5>User</h5>
        <p>Dashboard / User</p>
    </div>

    {{> user_navigation }}

    <div class="container dashboard-wrapper header permissions">
        <div class="row">
            <div class="col-md-12">
                <p style="margin-bottom: 20px; font-weight: bold; float: left;">
                    User's Profile Details:
                </p>
                
            </div>

            <div class="col-md-12">
                <div class="dashboard content user-details">
                    <h5>Teaching Component Permissions</h5>
                    <ul>
                        <li>
                            <input type="checkbox" id="teaching" name="teaching">
                            <label for="teaching">Edit</label>
                        </li>
                        <li>
                            <input type="checkbox" id="teaching" name="teaching">
                            <label for="teaching">View</label>
                        </li>
                        <li>
                            <input type="checkbox" id="teaching" name="teaching">
                            <label for="teaching">Delete</label>
                        </li>
                    </ul>
                    <h5>Research Component Permissions</h5>
                    <ul>
                        <li>
                            <input type="checkbox" id="teaching" name="teaching">
                            <label for="teaching">Edit</label>
                        </li>
                        <li>
                            <input type="checkbox" id="teaching" name="teaching">
                            <label for="teaching">View</label>
                        </li>
                        <li>
                            <input type="checkbox" id="teaching" name="teaching">
                            <label for="teaching">Delete</label>
                        </li>
                    </ul>

                    <h5>Administration Component Permissions</h5>
                    <ul>
                        <li>
                            <input type="checkbox" id="teaching" name="teaching">
                            <label for="teaching">Edit</label>
                        </li>
                        <li>
                            <input type="checkbox" id="teaching" name="teaching">
                            <label for="teaching">View</label>
                        </li>
                        <li>
                            <input type="checkbox" id="teaching" name="teaching">
                            <label for="teaching">Delete</label>
                        </li>
                    </ul>

                    <h5>Community Engagement Component Permissions</h5>
                    <ul>
                        <li>
                            <input type="checkbox" id="teaching" name="teaching">
                            <label for="teaching">Edit</label>
                        </li>
                        <li>
                            <input type="checkbox" id="teaching" name="teaching">
                            <label for="teaching">View</label>
                        </li>
                        <li>
                            <input type="checkbox" id="teaching" name="teaching">
                            <label for="teaching">Delete</label>
                        </li>
                    </ul>
                    <a class="dashboard-button" href="/add-staff">Update Permissions</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#users-table").DataTable();
    });
</script>
