{{> navigation }}

<div class="container page">
    <div class="title-breadcrums">
        <h1>User</h1>
        <p>Dashboard / User</p>
    </div>

    {{> user_navigation }}

    <div class="container dashboard-wrapper header">
        <div class="row">
            <div class="col-md-12">
                <p style="margin-bottom: 20px; font-weight: bold; float: left;">
                    User's Profile Details:
                </p>
                <a class="dashboard-button left" href="/add-staff">Edit Details</a>
            </div>

            <div class="col-md-12">
                <div class="dashboard content user-details">
                    
                    {{#details}}
                        {{#dataValues}}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="input-container">
                                                <p>First Name</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <p>{{first_name}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="input-container">
                                                <p>Last Name</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <p>{{last_name}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="input-container">
                                                <p>Contact Phone</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <p>{{phone}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="input-container">
                                                <p>Email</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <p>{{email}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="input-container">
                                                <p>Role</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-container">
                                            <p>{{role}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/dataValues}}
                    {{/details}}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#users-table").DataTable();
    });
</script>
