{{> navigation }}

<div class="container page">
    <div class="title-breadcrums">
        <h1>Workload Sheet</h1>
        <p>Dashboard</p>
    </div>

    <div class="container dashboard-wrapper header worksheet">
        <div class="row">
            <div class="col-md-12">
                <a class="dashboard-button left" href="/user/1/allocate-course"
                    >Preview</a
                >
            </div>
            <div class="col-md-12" style="margin-top: 20px">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            data-toggle="tab"
                            href="#teaching"
                            role="tab"
                            >Teaching Load</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            data-toggle="tab"
                            href="#research"
                            role="tab"
                            >Research Load</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            data-toggle="tab"
                            href="#administration"
                            role="tab"
                            >Administration Load</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            data-toggle="tab"
                            href="#community_engagement"
                            role="tab"
                            >Community Engagement</a
                        >
                    </li>
                </ul>
                <!-- Teaching Load Component -->
                <div class="tab-content">
                    <div class="tab-pane active" id="teaching" role="tabpanel">
                        <form action="workload/add-teaching" method="post">
                            <div class="row">
                                <div class="col-md-3">Year</div>
                                <div class="col-md-7">
                                    <input name="year" />
                                </div>
                                <div class="col-md-3">Semester</div>
                                <div class="col-md-7">
                                    <input name="semester" />
                                </div>
                                <div class="col-md-3">Course</div>
                                <div class="col-md-7">
                                    <select name="course">
                                        {{#each courses}}
                                            {{#dataValues}}
                                                <option value="{{id}}">{{name}}</option>
                                            {{/dataValues}}
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-md-3">Course Level</div>
                                <div class="col-md-7">
                                    <select>
                                        <option>Graduate</option>
                                        <option>Postgrad</option>
                                        <option>Undergrad</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    Number of students enrolled
                                </div>
                                <div class="col-md-7">
                                    <select>
                                        <option>HoD</option>
                                        <option>Staff</option>
                                        <option>DVC</option>
                                        <option>Dean</option>
                                    </select>
                                </div>
                                <div class="col-md-3">Comments</div>
                                <div class="col-md-7">
                                    <textarea></textarea>
                                </div>
                                <div class="col-md-3"></div>
                                <div
                                    class="col-md-7"
                                    style="
                                        margin-top: 10px;
                                        margin-bottom: 10px;
                                    "
                                >
                                    <button
                                        type="submit"
                                        class="dashboard-button"
                                        
                                    >Add Item</a
                                    >
                                </div>
                            </div>
                        </form>

                        <table
                            id="users-table"
                            class="users-table table table-bordered"
                            style="
                                width: 100%;
                                margin-top: 30px;
                                margin-bottom: 50px;
                            "
                        >
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Semester</th>
                                    <th>Course</th>
                                    <th>Level</th>
                                    <th>Enrollement</th>
                                    <th>Comments</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2021-01-03</td>
                                    <td>2021-01-03</td>
                                    <td>2021-01-03</td>
                                    <td>2021-01-03</td>
                                    <td>2021-01-03</td>
                                    <td>2021-01-03</td>
                                    <td class="icons">
                                        <span class="icon"
                                            ><i class="fas fa-trash-alt"></i
                                        ></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Teaching Load End -->

                    <!-- Research Load Component -->
                    <div class="tab-pane" id="research" role="tabpanel">
                        <div class="row">
                            <div class="col-md-3">Project Name</div>
                            <div class="col-md-7">
                                <input name="year" />
                            </div>
                            <div class="col-md-3">Supporting Evidence</div>
                            <div class="col-md-7">
                                <form action="/action_page.php">
                                    <input
                                        type="file"
                                        id="myFile"
                                        name="filename"
                                    />
                                    <input type="submit" />
                                </form>
                            </div>
                            <div class="col-md-3">
                                Postgraduate students supervising
                            </div>
                            <div class="col-md-7">
                                <textarea></textarea>
                            </div>
                            <div class="col-md-3">Comments</div>
                            <div class="col-md-7">
                                <textarea></textarea>
                            </div>
                            <div class="col-md-3"></div>
                            <div
                                class="col-md-7"
                                style="margin-top: 10px; margin-bottom: 10px"
                            >
                                <a
                                    class="dashboard-button"
                                    href="/user/1/allocate-course"
                                    >Add Item</a
                                >
                            </div>
                        </div>
                        <table
                            id="users-table"
                            class="users-table table table-bordered"
                            style="
                                width: 100%;
                                margin-top: 30px;
                                margin-bottom: 50px;
                            "
                        >
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Supporting Evidence</th>
                                    <th>Students supervising</th>
                                    <th>Comments</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2021-01-03</td>
                                    <td>2021-01-03</td>
                                    <td>2021-01-03</td>
                                    <td>2021-01-03</td>
                                    <td>2021-01-03</td>
                                    <td>2021-01-03</td>
                                    <td class="icons">
                                        <span class="icon"
                                            ><i class="fas fa-trash-alt"></i
                                        ></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Research Load End -->

                    <!-- Admin Load -->
                    <div class="tab-pane" id="administration" role="tabpanel">
                        <div class="row">
                            <div class="col-md-3">Dutie name / Description</div>
                            <div class="col-md-3">Comments</div>
                            <div class="col-md-7">
                                <textarea></textarea>
                            </div>
                            <div class="col-md-3"></div>
                            <div
                                class="col-md-7"
                                style="margin-top: 10px; margin-bottom: 10px"
                            >
                                <a
                                    class="dashboard-button"
                                    href="/user/1/allocate-course"
                                    >Add Item</a
                                >
                            </div>
                        </div>
                        <table
                            id="users-table"
                            class="users-table table table-bordered"
                            style="
                                width: 100%;
                                margin-top: 30px;
                                margin-bottom: 50px;
                            "
                        >
                            <thead>
                                <tr>
                                    <th>Duties</th>
                                    <th>Comments</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2021-01-03</td>
                                    <td>2021-01-03</td>
                                    <td class="icons">
                                        <span class="icon"
                                            ><i class="fas fa-trash-alt"></i
                                        ></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Admin Load End-->

                    <!-- Community Engagement -->
                    <div
                        class="tab-pane"
                        id="community_engagement"
                        role="tabpanel"
                    >
                        <div class="row">
                            <div class="col-md-3">Outreach activity</div>
                            <div class="col-md-7">
                                <input name="year" />
                            </div>
                            <div class="col-md-3">Supporting Evidence</div>
                            <div class="col-md-7">
                                <form action="/action_page.php">
                                    <input
                                        type="file"
                                        id="myFile"
                                        name="filename"
                                    />
                                    <input type="submit" />
                                </form>
                            </div>
                            <div class="col-md-3">Comments</div>
                            <div class="col-md-7">
                                <textarea></textarea>
                            </div>
                            <div class="col-md-3"></div>
                            <div
                                class="col-md-7"
                                style="margin-top: 10px; margin-bottom: 10px"
                            >
                                <a
                                    class="dashboard-button"
                                    href="/user/1/allocate-course"
                                    >Add Item</a
                                >
                            </div>
                        </div>
                        <table
                            id="users-table"
                            class="users-table table table-bordered"
                            style="
                                width: 100%;
                                margin-top: 30px;
                                margin-bottom: 50px;
                            "
                        >
                            <thead>
                                <tr>
                                    <th>Outreach Activities</th>
                                    <th>Supporting Evidence</th>
                                    <th>Comments</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2021-01-03</td>
                                    <td>2021-01-03</td>
                                    <td>2021-01-03</td>
                                    <td class="icons">
                                        <span class="icon"
                                            ><i class="fas fa-trash-alt"></i
                                        ></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Community Engagement End -->
                </div>
            </div>

            <div class="col-md-12">
                <div class="dashboard content">
                    <a class="dashboard-button" href="/user/1/allocate-course"
                        >Submit for approval</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#users-table").DataTable();
    });
</script>
